
/* general css goes here */
/* this css is loaded AFTER perihelion and bootstrap css */

.product-modal-list-group a.list-group-item {
    text-decoration: none;
    cursor: default;
}

.product-modal-list-group a.list-group-item:nth-child(odd) {
    background-color: #eeeeee;
}

.product-modal-list-group a.list-group-item:hover {
    background-color: #dddddd;
}

#product_carousel .carousel-item {
    position:relative;
    height:400px;
}

#product_carousel .carousel-item img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    max-height:100%;
}

/* breakpoint-specific css goes here */

/* >= 576px (sm) */
@media only screen and (min-width: 576px) {

}

/* >= 768px (md) */
@media only screen and (min-width: 768px) {

}

/* >= 992px (lg) */
@media only screen and (min-width: 992px) {

}

/* >= 1200px (xl) */
@media only screen and (min-width: 1200px) {


}
